.tab-list {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  outline: none;
  border-bottom: 1px solid gray;
}

.tab--selected {
  border-top: 1px solid gray;
  border-bottom: none;
}

.tab:not(:last-child) {
  border-right: 1px solid gray;
}
